<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0.0"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.samsung.android.biometrics.app.setting"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="34"
        android:targetSdkVersion="34"/>
    <protected-broadcast android:name="com.samsung.android.intent.action.UPDATE_UDFPS_ICON_VISIBILITY"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.USER_ACTIVITY"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MANAGE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.sec.spp.permission.TOKEN_a67e044fd2e317f44a274058068d8657a67bcfdf9cf3151bc5b64a328f781215961db2de76a1264a2ca484b3d9a9f1d9dff8256be964d4018ada56dbb257eccd750ac77cfc5f6ae95bed92286347d946ecea819801b3ab3bc1e8eec67f42daf46c12a163f3cd2aeb2439686e6f9daa5d60f08de71973feaa8d13a4c96cfadee2"/>
    <permission
        android:name="com.samsung.android.biometrics.app.setting.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.samsung.android.biometrics.app.setting.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:label="@string/application_name"
        android:name="com.samsung.android.biometrics.app.setting.BssApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:directBootAware="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:usesNonSdkApi="true">
        <activity
            android:theme="@style/FaceTranslucentStyle"
            android:name="com.samsung.android.biometrics.app.setting.face.FaceEnrollActivity"
            android:permission="com.samsung.android.bio.face.permission.MANAGE_FACE"
            android:exported="true"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:screenOrientation="@integer/sec_face_enroll_activity_orientation"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.samsung.android.biometrics.app.setting.face.FaceEnrollActivity"/>
            </intent-filter>
            <meta-data
                android:name="com.samsung.android.foldable.keep_screen_when_folding"
                android:value="true"/>
            <meta-data
                android:name="com.samsung.android.supports_pop_over"
                android:value="false"/>
        </activity>
        <activity
            android:theme="@style/SecFingerprintEnrollStyle"
            android:label="@string/sec_fingerprint_enroll_title"
            android:name="com.samsung.android.biometrics.app.setting.fingerprint.enroll.FingerprintEnrollActivity"
            android:permission="android.permission.MANAGE_FINGERPRINT"
            android:exported="false"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="@integer/sec_fingerprint_enroll_activity_orientation"
            android:configChanges="fontScale|layoutDirection|density|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:uiOptions="none">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.samsung.android.edge.hide_edge_screen_handle"
                android:value="true"/>
            <meta-data
                android:name="com.samsung.android.foldable.keep_screen_when_folding"
                android:value="true"/>
            <meta-data
                android:name="com.samsung.android.supports_pop_over"
                android:value="false"/>
        </activity>
        <service
            android:name="com.samsung.android.biometrics.app.setting.BiometricsUIService"
            android:permission="android.permission.MANAGE_BIOMETRIC"
            android:exported="true"/>
        <receiver
            android:name="com.samsung.android.biometrics.app.setting.fingerprint.UdfpsUiCustom.ThemeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.samsung.android.theme.themecenter.THEME_APPLY"/>
            </intent-filter>
        </receiver>
        <uses-library
            android:name="knoxsdk"
            android:required="true"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.samsung.android.biometrics.app.setting.androidx-startup">
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
        </provider>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
